<html>

<body>
    <form method='POST' action='/addAdmin'>
        <div>Name :
            <input type="text" name="name" placeholder="Enter Name" />
        </div>
        <div>Email :
            <input type="text" name="email" placeholder="Enter email" />
        </div>
        <div>passwd :
            <input type="password" name="password" placeholder="Enter password" />
        </div>
        <div>Auth :
            <input type="password" name="auth" placeholder="Enter auth password" />
        </div>
              

        <input type="submit" value='submit'>
    </form>
</body>

</html>