<!DOCTYPE html>
<html>

<head>
    <title>Add your Complaint</title>
</head>

<body>
    <h1>Add Your Complaint Here</h1>
    <form action="/addComplaint" method="POST" id="complaint">
        <div>Complaint About:
            <input type="text" name="About" placeholder="Enter the title of your complaint">
        </div>
        <div>
            <textarea name="comp" form="complaint" placeholder="Enter the description here"></textarea>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>

</html>