<html>
<body>
<form method = 'POST' action = '/update'>
	<div>hostel : 
	<input type="text" name="hostel" placeholder="Enter Hostel" />
	</div>
	<div>Room : 
	<input type="number" name="room" placeholder="Enter Room" />
	</div>
	<div>Contact : 
	<input type="text" name="contact" placeholder="Enter contact" />
	</div>
	<!--<div>passwd : 
	<input type="password" name="password" placeholder="Enter password" />
	</div>-->
	<div>Guardian address : 
	<input type="text" name="guardianAdd" placeholder="Enter add" />
	</div>
	<div>Guardian contact : 
	<input type="text" name="guardianCon" placeholder="Enter contact" />
	</div>
	<input type="submit" value = 'submit'>
</form>
</body>
</html>
